[project]
name = "xmas-lights"
version = "0.1.0"
requires-python = ">=3.13"
dependencies = [
    "numpy~=2.3",
    "pydantic-settings>=2.12.0",
    "requests~=2.31",
    "websockets~=12.0",
]

[dependency-groups]
prod = ["rpi_ws281x~=5.0"]
