name: Build and deploy

on:
  push:
  workflow_dispatch:

jobs:
  frontend:
    name: Build frontend
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Setup Node
      uses: actions/setup-node@v6
      with:
        node-version: 14
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json
    - name: Install NPM packages
      run: npm install
      working-directory: frontend
    - name: Build
      run: npm run build
      working-directory: frontend
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
          path: |
            *
            !frontend
            frontend/build

  backend:
    name: Deploy backend
    runs-on: ubuntu-latest
    if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Build docker image
      run: docker build -t 'image' --build-arg SSH_HOSTNAME="${{ secrets.SSH_HOSTNAME }}" --build-arg SSH_USERNAME="${{ secrets.SSH_USERNAME }}" --build-arg SSH_PRIVKEY="${{ secrets.SSH_PRIVKEY }}" .github/workflows
    - name: Copy artifacts
      run: docker run --mount type=bind,source=${{ github.workspace }}/backend,target=/data 'image' "rsync" "--recursive" "--progress" "--executability" "--delete-before" "--exclude=venv" "--exclude=.gitignore" "/data/" "server:/home/pi/xmas-lights/"
    - name: Restart services
      run: docker run 'image' "ssh" "server" "chmod +x /home/pi/xmas-lights/install.sh && /home/pi/xmas-lights/install.sh"
